
/*.control-me::after {
    content: "🤍";
    font-size: 30px;
}

#toggle:checked ~ .control-me::after {
    content: "💛";
}

label {
    background: #A5D6A7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.visually-hidden {
    position: fixed;
    left: -100vw;*/
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
/*}
.starDiv {
    position: fixed;
    margin-top: -52%;
    margin-left: 76%;
}*/

